*{
  margin: 0px;
}
body{
  background-color: #B0E0E6	;
  width: 90;
  height: 90;
  justify-content: center;
  align-items: center;
  text-align: center;

}
header{
  background-color: 	#2F4F4F;
  text-align: center;
  padding-bottom: 15px;
  font-size: 30px;
  padding-top: 10px;
  color: #FF1493;
  margin-bottom: 20px;

}
